@font-face {
  font-family: 'RobotoMono';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("/public/fonts/RobotoMono-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'RobotoMono';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/public/fonts/RobotoMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'RobotoMono';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/public/fonts/RobotoMono-Bold.ttf") format("truetype");
}

.general-container{
  width: 100vw;
  position: absolute;
  bottom: 0;
  top: 0;
  background-color: #EEEEEE;
  overflow-y: scroll;
  overflow-x: hidden;
}
