.conocimientos-container {
  width: 100vw;
  height: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: 'RobotoMono';
  font-weight: 400;
  font-size: 20px;
}

.conocimientos-container h1:hover{
  cursor:context-menu;
}

.conocimientos-container h2:hover{
  cursor:context-menu;
}

.conocimientos-container p:hover{
  cursor:context-menu;
}

.conocimientos-container h1{
  font-family: 'RobotoMono';
  font-weight: 100;
  font-size: 70px;
  line-height: 150px;
  align-self: center;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 100px;
}

.conocimientos-grafica {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
}

.fila{
  display: flex;
  flex-direction: row;
  height: 10vh;
  align-items: center;
}

.titulo{
  width: 9vw;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.fila-x{
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-around;
  margin-top: 20px;
}

.barra-1{
  height: 70%;
  background-color: #BBBBBB;
  width: 74%;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.barra-2{
  height: 70%;
  background-color: #BBBBBB;
  width: 74%;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.barra-3{
  height: 70%;
  background-color: #BBBBBB;
  width: 42%;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.barra-4{
  height: 70%;
  background-color: #BBBBBB;
  width: 20%;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.barra-5{
  height: 70%;
  background-color: #BBBBBB;
  width: 42%;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.barra-6{
  height: 70%;
  background-color: #BBBBBB;
  width: 74%;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.barra-7{
  height: 70%;
  background-color: #BBBBBB;
  width: 20%;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}