.sobre-mi-container {
  width: 100vw;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.barra-sobre-mi{
  width: 100%;
  height: 30px;
  background-color: #AAAAAA;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.botones-salida{
  height: 20px;
  width: 80px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.sobre-mi-texto{
  background-color: black;
  border-radius: 6px;
}

.sobre-mi-container h1{
  font-family: 'RobotoMono';
  font-weight: 100;
  font-size: 70px;
  line-height: 150px;
  align-self: center;
  border-bottom: 1px solid #CCCCCC;
}

.sobre-mi-container h1:hover{
  cursor:context-menu;
}

.sobre-mi-container h2{
  padding-left: 20px;
  padding-right: 20px;
  color: #EEEEEE;
  font-family: 'RobotoMono';
  font-weight: 500;
  font-size: 30px;
  align-self: center;
}

.sobre-mi-container h2:hover{
  cursor:context-menu;
}

.sobre-mi-container p{
  padding-left: 20px;
  padding-right: 20px;
  color: #EEEEEE;
  font-family: 'RobotoMono';
  font-weight: 200;
  font-size: 20px;
  align-self: center;
}

.sobre-mi-container p:hover{
  cursor:context-menu;
}

.sobre-mi-texto {
  width: 80vw;
  height: auto;
  align-self: center;
}